/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

div.pcm_box {
    border: solid gray 1px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    cursor: pointer;
    color: black;
}

.pcm_cabinet {
    text-align: center;
    color: black;
    border: solid lightslategray 1px;
    background-color: whitesmoke;
    padding: 0px;
}

.pcm_cabinet_row {
    height: 25px;
}

.pcm_cabinet_rail {
    width: 40px;
}

.pcm_cabinet_ru {
    height: inherit;
    width: 100%;
    padding: 0px;
}

div.pcm_cabinet_object_container {
    box-shadow: 0 0 0 1px gray inset;
    height: 100%;
    display: flex;
}

div.pcm_template_partition_horizontal {
    flex-direction: column;
}

div.pcm_template_partition_vertical {
    flex-direction: row;
}

div.pcm_template_partition_box {
    box-shadow: 0 0 0 1px darkslategray inset;
    flex-basis: 0;
    overflow: hidden;
}

div.pcm_template_partition_selected {
    box-shadow: 0 0 0 3px yellow inset;
}

div.pcm_template_partition_hovered {
    box-shadow: 0 0 0 5px orange inset;
}

div.pcm_template_connectable_container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

div.pcm_template_connectable_port_unk {
    height: 5px;
    width: 5px;
    background-color: black;
}

div.pcm_template_port_format_field_selected {
    box-shadow: 0 0 0 3px yellow;
}

div.pcm_template_port_format_field {
    display: inline-block;
    width: 25%;
}

div.pcm_template_enclosure_container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    background: repeating-linear-gradient(
		135deg,
		transparent,
		transparent 4px,
		rgba(0, 0, 0, 0.2) 4px,
		rgba(0, 0, 0, 0.2) 8px
	);
}

div.pcm_template_enclosure_area {
    box-shadow: 0 0 0 1px black inset;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.pcm_template_partition_layered {
    background-color: rgba(255,255,255,0.1);
}

hr.separator {
    border-top: 2px solid #bbb;
}

div.pcm_top_actions {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0% 0px; 
        grid-template-areas: 
          "first second third fourth fifth"; 
        justify-content: space-between;
}