/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

div.pcm_box {
    border: solid gray 1px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    cursor: pointer;
    color: black;
}

.pcm_selected {
    border: solid yellow 1px !important;
}

.pcm_cabinet {
    text-align: center;
    color: black;
    border: solid lightslategray 1px;
    background-color: whitesmoke;
    padding: 0px;
}

.pcm_cabinet_row {
    height: 25px;
}

.pcm_cabinet_rail {
    width: 40px;
}

.pcm_cabinet_ru {
    height: inherit;
    width: 100%;
    padding: 0px;
}

.pcm_cabinet_object_container {
    height: 100%;
    display: flex;
}

.pcm_template_partition_horizontal {
    flex-direction: column;
}

.pcm_template_partition_vertical {
    flex-direction: row;
}

div.pcm_template_partition_box {
    box-shadow: 0 0 0 1px gray inset;
    flex-basis: 0;
    overflow: hidden;
}

div.pcm_template_partition_selected {
    box-shadow: 0 0 0 2px red inset;
}

div.pcm_template_connectable_row {
    display: flex;
    justify-content: space-evenly;
}

div.pcm_template_connectable_col {
    display: flex;
}



div.pcm_template_connectable_container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

div.pcm_template_connectable_port_unk {
    height: 5px;
    width: 5px;
    background-color: black;
}